label.birthdate {
    position: relative;
    left:135px;
}
input.birthdate {
    position: relative;
    left:30px;
}
#submit {
    position: relative;
    left:30px;
}
h1 {
    text-align: center;
}